@media (max-width: 1575px) {
    .search-visable.search {
        margin-left: -230px;
        width: 500px;
    }
    .icon__placeholder-search {
        right: 456px;
    }
}

@media (max-width: 1340px) {
    .search-visable.search {
        margin-left: -130px;
        width: 300px;
    }
    .icon__placeholder-search {
        right: 256px;
    }
}

@media (max-width: 900px) {
    .icon-login {
        margin-right: 55px;
    }
}

@media (max-width: 840px) {
    .icon {
        margin-left: 30px;
    }
}

@media (max-width: 770px) {
    .header__icons {
        display: none;
    }
    
    .icon-message {
        display: block;
    }
    
    .header__menu {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    
    .header__burger, .icon {
        margin: 0;
    }
    
    .header {
        padding: 15px 20px;
    }
}